# arquivos do R
.Rproj.user
.Rhistory
.RData
.Ruserdata

# arquivos de dados
data/

# arquivos temporários
*.aux
*.log
*.tex

# diretórios de cache
*_files/

# arquivos de output
*.html
*.pdf
*.docx
*.pptx
